.contact-back{
	background: url(images/Banner2.jpg);
	background: url(images/Banner11.jpg);
	background: url(images/Banner15.jpg);
}

.slide{
	width: 100%;
	height: auto;
	position: absolute;
}
.img1{
	z-index: 3
}

.img2{
	z-index: 2;
}

.img3{
	z-index: 1;
}

.top-img{
	z-index: 5;
}
.slider-element{
	z-index: 9;
}