body{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#4e4d4d;background:#fff;}
a:focus{outline:0;}
p{font-weight:400;line-height:25px;margin:0 0 30px;color:#4e4d4d;font-size:16px;}
.row{margin:0px;}
.map{height: 250px}
textarea{resize:none;}
.vcenter{padding-top:5%;}
.navbar-default{border:none;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;margin:0;background:none;}
.navbar-default .row{padding:0px 15px 0px 30px;}
.schedule-visit span{background:#fdd919;border-radius:2px;color:#443200;padding:8px 16px;font-weight:700;}
.navbar-brand > img{position:relative;z-index:999;max-height:55px;}
.navbar-brand{display:inline-block;height:auto;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;font-size:30px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:900;margin:0 0 30px;text-transform:uppercase;margin:0;color:#222222 !important;font-size:26px;text-transform:capitalize;padding:15px 30px;letter-spacing:2.5px;padding:25px;position:relative;z-index:0;}
header.active .navbar-brand::before{background:none;}
.navbar-brand span{color:#fdd919 !important;}
.call{text-align:right;color:#fff;padding-right:25px;display:none;}
.call h1{font-size:27px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-style:italic;font-weight:600;}
.call h1 span{font-size:22px;}
header.active .call{display:none;}
.top-line{transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;background:#0b0c0c99;padding:10px 0;display:none;}
.style-4 .top-line, .style-5 .top-line{display:block;}
.style-5 .top-line{background:#fdd919;}
.active .top-line{overflow:hidden;}
.top-line p{color:#4e4d4d !important;margin-bottom:0;font-size:16px;font-weight:600;}
.top-line .container, .top-line .col-md-5{padding:0px;}
.top-line p:after{position:absolute;content:"";height:40px;width:98%;margin:0px 14px;left:-9px;top:2px;height:24px;}
.icon::before{font-weight:600;font-size:18px;}
.top-line p span{margin-right:20px;}
.top-line p span i{font-size:13px;color:#fdd919;margin-right:10px;}
ul.social-icons{margin:0;padding:5px;text-align:right;padding-right:15px;}
ul.social-icons li:first-child{margin-left:0px;}
ul.social-icons li{display:inline-block;margin-left:15px;float:left;text-align:left;}
ul.social-icons li a{display:inline-block;text-decoration:none;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;font-size:16px;color:#4a4d4d;}
.top-line ul.social-icons li a:hover{color:#fff;}
.social-icons li a:hover{color:#fdd919;}
.navbar-nav{transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;margin-right:15px;background:none;margin:0px;}
.navbar-default .navbar-nav > li > a{color:#fff;font-size:16px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:700;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;padding:25px 15px;}
.style-4 .navbar-nav > li > a, .style-3 .navbar-nav > li > a{padding:50px 15px 25px;}
.style-5 .navbar-nav > li > a{color:#3d3d3d;padding:42px 15px 25px;}
.style-5 .navbar-nav a.open-search i{color:#3d3d3d;}
.navbar-nav > li > a:hover,
.navbar-nav > li > a.active{color:#fdd919 !important;}
.navbar-nav a.open-search{padding:25px 15px;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;text-align:center;}
.navbar-nav a.open-search i{color:#fff;font-size:16px;display:inline-block;}
.navbar-nav li.drop{position:relative;}
.navbar-nav li.drop ul.dropdown{margin:0;padding:0;position:absolute;top:100%;left:0;width:220px;background:#282828;padding:10px 0;opacity:0;visibility:hidden;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;}
.navbar-nav li.drop ul.dropdown li{display:block;}
.navbar-nav li.drop ul.dropdown li a{display:inline-block;text-decoration:none;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;display:block;color:#ababab;font-size:13px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:600;text-transform:uppercase;padding:10px 20px;}
.navbar-nav li.drop ul.dropdown li a:hover{color:#fdd919;}
.navbar-nav li.drop ul.dropdown li:first-child{border-top:none;}
.navbar-nav li.drop:hover ul.dropdown{opacity:1;visibility:visible;}
header.active .navbar-fixed-top{position:fixed;background:rgba(0,0,0,0.8);border-bottom:none;}
header.active .top-line{height:0;padding:0;}
header.active .navbar-brand{color:#222222 !important;height:60px;padding:5px 0px 10px;background:none;}
header.active .navbar-nav > li > a{color:#fff !important;padding:23px 15px;}
.active .navbar-brand img{height:100%;}
header.active .navbar-nav a.open-search{padding:23px 15px;}
header.active .navbar-nav a.open-search i{color:#fff;}
header.active .navbar-nav > li > a:hover,
header.active .navbar-nav > li > a.active{color:#fdd919 !important;}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{margin-right:-60px;}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next{margin-left:-60px;}
.carousel-caption h1,.transparent{color:transparent;display:none;}
.npadleft{padding-left:0px;}
.npadright{padding-right:0px;}
.nopad{padding:0px;z-index:99999999;}
h2 span{border-bottom:3px solid #fdd919;}
h3 span{border-bottom:3px solid #fff;}
h2,h3{margin-bottom:40px;margin-top:5px;line-height:1.4;}
h3{margin-top:25px;}
.beneficios{background-color:#fdd919;background-image:url(../images/cream_pixels.jpg);padding-top:15px;height:360px;}
.owl-carousel{margin-top:80px;}
.item img{max-width:20%;}
.item p{padding-left:20px;padding-right:30px;padding-top:15px;}
.text{padding-top:15px;}
.mainform{background-color:rgba(75,77,77,0.7);margin-top:120px;margin-bottom:20px;position:absolute;z-index:5000000;top:0;}
.mainform p, .secondform p{font-size:20px;padding-left:15px;padding-top:15px;}
.secondform{background-color:rgba(75,77,77,0.7);}
.mainview{position:relative;}
.secondview{background-size:cover;background-image:url(../images/banner1.jpg);}
.white{color:#fff;}
.divfooter{padding:0px;}
a:hover, a:focus, a{color:#fdd919;}
footer{background:#fff;}
ul.social-icons{margin:0;padding:5px;text-align:right;padding-right:15px;}
ul.social-icons li:first-child{margin-left:0px;}
ul.social-icons li{display:inline-block;margin-left:15px;float:left;text-align:left;}
ul.social-icons li a{display:inline-block;text-decoration:none;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;font-size:16px;color:#4a4d4d;}
.top-line ul.social-icons li a:hover{color:#fff;}
.social-icons li a:hover{color:#fdd919;}
ul{display:inline-block;margin:0;padding:0;zoom:1;*display:inline;}
li{padding:2px 5px;}
.btn-warning{color:#4e4d4d;background-color:#fdd919;border-color:#fdd919;font-size:16px;padding:5px 25px 5px 25px;}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus{color:#fff;background-color:#fdd919;border-color:#fdd919;}
.mart30{margin-top:30px;}
.marb30{margin-bottom:30px;}
@media (max-width:1024px){.navbar-collapse, .navbar-collapse.collapse{background:none;}
}
@media (max-width:991px){#home-section{position:relative;overflow:hidden;}
.vegas-wrapper, .vegas-overlay, .vegas-timer, .vegas-slide, .vegas-slide-inner{position:absolute;top:130px;}
.tp-banner{height:710px !important;}
.top-line,
.top-line ul.social-icons{text-align:center;}
.top-line p span{display:inline-block;margin-bottom:7px;}
.navbar-nav > li > a{padding-left:8px !important;padding-right:8px !important;}
.navbar-nav a.open-search{padding-left:7px !important;}
.offer-post{margin-bottom:30px;}
.project-box .project-post{width:33.33%;}
.tab-posts-box{margin-top:30px;}
.footer-widget{margin-bottom:30px;}
.clients-section blockquote{margin-top:20px;}
.projects-page-section .project-box,
.news-section.col3 .news-box,
.news-section.col2 .news-box{width:750px;}
.projects-page-section .project-box.col2 .project-post,
.projects-page-section .project-box.col3 .project-post,
.projects-page-section .project-box .project-post,
.news-section.col3 .news-box .news-post,
.news-section.col2 .news-box .news-post{width:345px;}
.page-banner-section{margin-top:177px;text-align:center;}
.page-banner-section h2{margin-bottom:5px;}
.page-banner-section ul.page-depth{text-align:center;}
#map{margin-top:177px;height:300px;}
.contact-info{margin-bottom:30px;}
.flexslider .flexcaption .inner-caption{padding:16px 25px;max-width:50%;}
.flexslider .flexcaption .inner-caption h1{font-size:16px;margin-bottom:0;}
.flexslider .flexcaption .inner-caption p{display:none;}
.about-section2 iframe{height:300px;}
}
@media (max-width:767px){.marginbtn{margin-bottom:15px;}
.we_are_deatails{padding:15px;}
.who-img, .agent{display:none;}
.who-content{padding:15px;}
.tp-banner{height:768px !important;}
.vegas-wrapper, .vegas-overlay, .vegas-timer, .vegas-slide, .vegas-slide-inner{position:absolute;top:130px;}
.vegas-wrapper .container{padding:0px;}
.top-line{display:none;}
.navbar-brand{padding-top:15px !important;padding-bottom:15px !important;}
.navbar-default .navbar-toggle{margin-top:13px;}
.navbar-nav > li > a{padding:5px 15px !important;}
.navbar-nav > li.search{display:none;}
.navbar-nav > li.drop ul.dropdown{position:relative;top:inherit;left:inherit;width:100%;padding:0;border:none;visibility:visible;opacity:1;}
.navbar-nav > li.drop ul.dropdown li a{padding:5px 20px;text-transform:inherit;}
.banner-section h2 a{margin-left:6px;margin-top:5px;}
.project-box .project-post{width:50%;}
.projects-page-section .project-box,
.news-section.col3 .news-box,
.news-section.col2 .news-box{width:100%;margin-left:0;}
.projects-page-section .project-box.col2 .project-post,
.projects-page-section .project-box.col3 .project-post,
.projects-page-section .project-box .project-post{width:100%;margin:0 0 30px;}
.news-section.col3 .news-box .news-post,
.news-section.col2 .news-box .news-post{width:100%;margin:0 0 40px;}
.page-banner-section,
#map{margin-top:0px;height:250px;}
.blog-section .blog-box .comment-section ul.depth .comment-box{padding-left:0;}
.flexslider .flexcaption .inner-caption{display:none;}
.about-section2 iframe{height:250px;}
#home-section.slider2{margin-top:60px;}
.navbar-nav{margin-bottom:30px;}
.title p{margin:20px 40px 30px}
}
@media (max-width:500px){.beneficios{height:auto;}
.owl-carousel{margin-top:0px;}
.project-box .project-post{width:100%;}
.vegas-wrapper .porperty-details{width:auto !important;}
.tab-posts-box ul.nav-tabs li a{padding:6px 10px;font-size:11px;font-weight:400;}
.tab-posts-box .tab-pane img{float:none !important;margin:0;margin-bottom:20px;}
.blog-section .blog-box .autor-post img{max-width:auto;float:none;margin-bottom:20px;}
.blog-section .blog-box .autor-post .autor-content,
.blog-section .blog-box .comment-section ul li .comment-box .comment-content{margin-left:0;}
.blog-section .blog-box .comment-section ul li .comment-box img{display:none;}
.title p{margin:20px 40px 30px}
#map{height:200px;}
.navbar-nav{margin-bottom:30px;}
}